/* * {
	border: 1px dotted blue;
} */

@font-face {
    font-family: CenturyGothic;
    src: url(GOTHIC.TTF);
}

body {
	padding: 0;
	margin: 0;
	font-family: "CenturyGothic";
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

#banner {
	height: 50px;
	background-image: linear-gradient(#c2ff6b, #8dba4d);
	line-height: 50px;
}

#menu {
	float: right;
}

#menu a {
  padding: 10px;
}

.wrapper {
	margin: 0 auto;
	max-width: 500px;
}

.main-container {
  margin: 0;
  padding: 50px 0;
}

.form {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 25px 0 0 0;
  height: 50px;
  border: 0;
  background-color: #eee;
}

.form-checkbox {
  position: relative;
  top: 10px;
  margin: 0px 0 0 5px;
  font-size: 0.8em;
}

.large-button {
  background-color: #b2ea62;
}

.large-button:hover {
  color: #fff;
  background-color: #8ebc4d;
  cursor: pointer;
}

.form-flash {
  position: absolute;
  color: red;
  font-size: 0.8em;
}

.login-flash {
  color: red;
  font-size: 0.8em;
  float: right;
}

.info-flash {
  position: relative;
  top: -20px;
  border-radius: 5px;
  padding: 10px;
  background-color: #cff4f5;
  color: #448c8f;
}

.list-item {
  background-color: #eee;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.btn-plus {
  background-color: #b2ea62;
  float: right;
  border: 0;
  width: 50px;
  height: 50px;
}

.btn-plus:hover {
  color: #fff;
  background-color: #8ebc4d;
  cursor: pointer;
}

.list-geo-box {
  /* line-height: 50px; */
  margin-right: 12px;
  float: right;
  font-size: 0.8em;
}

/* .list-geo-box input {
  position: relative;
  top: 2px;
} */

.item-title {
  height: 32px;
  line-height: 32px;
  font-size: 1.4em;
}

.item-spotlight {
  height: 18px;
  line-height: 18px;
  font-size: 0.8em;
}

/* Geo checkbox */
.list-item input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.list-item label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: inline-block;
	border-radius: 20px;
	position: relative;
  top: 12px;
}

.list-item label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 18px;
	transition: 0.3s;
}

.list-item input:checked + label {
	background: #8ebc4d;
}

.list-item input:checked + label:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}

.list-item label:active:after {
	width: 24px;
}
/* end checkbox */

/* Add item modal */
#add-item-modal-fade {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9)
}

#add-item-modal-container {
  display: none;
  position: fixed;
  width: 500px;
  top: 20%;
  left: 50%;
  margin-left: -250px;
}

#add-item-modal-container form {
  display: hidden;
  box-shadow: 0px 3px 8px #aaa;
}

#add-item-modal-container input {
  margin: 0;
}

#add-item-input {
  width: 450px;
}
/* end modal
