{% extends "layout.html" %}

{% block body %}

<h3>Update Account Information</h3>

<form method="POST" action="">

  {{ form.hidden_tag() }}
    {{ form.username(class="form form-large", placeholder="Username") }}
    {% if form.username.errors %}
      {% for error in form.username.errors %}
        <div class="flash-error abs">{{ error }}</div>
      {% endfor %}
    {% endif %}

    {{ form.email(class="form form-large", placeholder="Email") }}
    {% if form.email.errors %}
      {% for error in form.email.errors %}
        <div class="flash-error abs">{{ error }}</div>
      {% endfor %}
    {% endif %}

    {{ form.password(class="form form-large", placeholder="New Password") }}
    {% if form.password.errors %}
      {% for error in form.password.errors %}
        <div class="flash-error abs">{{ error }}</div>
      {% endfor %}
    {% endif %}

    {{ form.confirm_password(class="form form-large", placeholder="Confirm Password") }}
    {% if form.confirm_password.errors %}
      {% for error in form.confirm_password.errors %}
        <div class="flash-error abs">{{ error }}</div>
      {% endfor %}
    {% endif %}

    {{ form.current_password(class="form form-large", placeholder="Current Password") }}
    {% if form.current_password.errors %}
      {% for error in form.current_password.errors %}
        <div class="flash-error abs">{{ error }}</div>
      {% endfor %}
    {% endif %}

    {{ form.submit(class="btn btn-large") }}
</form>

{% endblock %}
