{% extends "layout.html" %}

{% block body %}

<div class="heading-grid">
    <a href="{{ url_for('main.index') }}" class="heading-icon">
        <i class='bx bx-arrow-back'></i>
    </a>

    <h3>{{ item.itemname }}</h3>
    
    <button id="heading-menu-btn" class="btn-invis heading-icon"
            onClick="toggleHeadingMenu()">
        <i class='bx bx-dots-horizontal'></i>
    </button>

    <div id="heading-menu" class="invisible">
        <button class="btn-invis edit-itemname-toggle">Edit name</button>
        <a href="{{ url_for('items.tags', item_id=item.item_id) }}">
            Edit tags</a>
        <a href="{{ url_for('items.download', item_id=item.item_id) }}">
            Download CSV</a>
        <a class="delete"
            onClick="return confirm('Are you sure you want to delete this item and all of its entries?')"
            href="{{ url_for('items.delete', item_id=item.item_id) }}" >
            Delete item</a>
    </div>
</div>

<form method="POST" action="{{ url_for('items.edit', item_id=item.item_id) }}"
        class="heading-grid hidden" id="heading-form">
    {{ edit_name_form.hidden_tag() }}

    <button type="button" class="btn mb-0 edit-itemname-toggle"
            title="Cancel">
        <span>&times;</span>
    </button>

    {{ edit_name_form.itemname(class="form", value=item.itemname) }}
        
    <button type="submit" class="btn color mb-0" title="Save">
        <i class='bx bx-save'></i>
    </button>

    {% if edit_name_form.itemname.errors %}
        <div class="form-error-label">
            {{ edit_name_form.itemname.errors[0] }}
        </div>
    {% endif %}
</form>

<div class="filter-header">
    <div class="filter-button" role="button">
        Filter
    </div>
    <span class="filter-quickdays">
        <select class="form small" 
                onchange="document.location.href=this.value">
            <option value="{{ url_for('items.details', item_id=item.item_id,
                days=30) }}" {{ 'selected' if request.args.get('days') == '30' }}>30</option>
            <option value="{{ url_for('items.details', item_id=item.item_id,
                days=90) }}" {{ 'selected' if request.args.get('days', '90') == '90' }}>90</option>
            <option value="{{ url_for('items.details', item_id=item.item_id,
                days=180) }}" {{ 'selected' if request.args.get('days') == '180' }}>180</option>
            <option value="{{ url_for('items.details', item_id=item.item_id,
                days=365) }}" {{ 'selected' if request.args.get('days') == '365' }}>365</option>
            <option value="{{ url_for('items.details', item_id=item.item_id,
                days='all') }}" {{ 'selected' if request.args.get('days') == 'all' }}>All</option>
        </select>
        <span>
            days
        </span>
    </span>
</div>

<form method="GET" class="filter-body"
        action="{{ url_for('items.details', item_id=item.item_id) }}">
    <input type="hidden" name="filter" value="1">
    <div class="filter-grid">
        <span>From:</span>
        <span>To:</span>

        <input type="date" class="form" name="from" value="{{ request.args.get('from') }}">
        <input type="date" class="form" name="to" value="{{ request.args.get('to') }}">

        <span>Has geo</span>
        <div>
            <input type="radio" name="has_geo" value="true" id="geo_true" {{ "checked" if request.args.get("has_geo") == "true" }}>
            <label for="geo_true">Yes</label>
            
            <input type="radio" name="has_geo" value="false" id="geo_false" {{ "checked" if request.args.get("has_geo") == "false" }}>
            <label for="geo_false">No</label>
            
            <input type="radio" name="has_geo" value=""  id="geo_all" {{ "checked" if "has_geo" not in request.args }}>
            <label for="geo_all">All</label>
        </div>

        {% if item.tags %}
        <h4>Has tags</h4>
            {% for tag in item.tags if tag.archived == False %}
                <span>{{ tag.name }}</span>
                <div>
                    <input type="radio" name="tag-{{ tag.tag_id }}" value="true" id="tag-{{ tag.tag_id }}_true" {{ "checked" if request.args.get("tag-" + (tag.tag_id | string)) == "true" }}>
                    <label for="tag-{{ tag.tag_id }}_true">Yes</label>
                    
                    <input type="radio" name="tag-{{ tag.tag_id }}" value="false" id="tag-{{ tag.tag_id }}_false" {{ "checked" if request.args.get("tag-" + (tag.tag_id | string)) == "false" }}>
                    <label for="tag-{{ tag.tag_id }}_false">No</label>
                    
                    <input type="radio" name="tag-{{ tag.tag_id }}" value=""  id="tag-{{ tag.tag_id }}_all" {{ "checked" if "tag-" + (tag.tag_id | string) not in request.args }}>
                    <label for="tag-{{ tag.tag_id }}_all">All</label>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <button type="submit" class="btn mt-1 mb-0">Search</button>
</form>

<div class="lastdays-label">
    {% if request.args.get("filter") %}
        Showing entries
        {% if request.args.get("from") %}
            from {{ request.args.get("from") }}
        {% endif %}
        {% if request.args.get("to") %}
            to {{ request.args.get("to") }}
        {% endif %}

        {% if request.args.get("has_geo") == "true" %}
            that has a geo location
        {% elif request.args.get("has_geo") == "false" %}
            that does not have a geo location
        {% endif %}
    {% elif request.args.get("days") == "all" %}
        Showing all entries
    {% else %}
        Showing entries from the last {{ request.args.get("days") if request.args.get("days") else "90" }} days
    {% endif %}
</div>
  <div class="details-grid-stats">
    <div class="statsbox">
      <div class="label">First</div>
      {{ stats['first'].strftime('%Y-%m-%d %H:%M') 
        if not stats['first'] == 0 else 0 }}
    </div>

    <div class="statsbox">
      <div class="label">Last</div>
      {{ stats['last'].strftime('%Y-%m-%d %H:%M') 
        if not stats['first'] == 0 else 0 }}
    </div>

    <div class="statsbox">
      <div class="label">Total</div>
      {{ stats['total'] }}
    </div>

    <div class="statsbox">
      <div class="label">Avg/day</div>
      {{ stats['average_a_day'] }}
    </div>

    <div class="statsbox">
      <div class="label" title="Longest without">Longest without</div>
      <i class='bx bx-info-circle'></i>
      {{ stats['longest_without'] }}
      <div class="date-info">
          ({{ stats['longest_without_start'] }} - 
          {{ stats['longest_without_end'] }})
        </div>
    </div>

    <div class="statsbox">
      <div class="label" title="Longest streak">Longest streak</div>
      <div class="flexrow">
          {{ stats['longest_streak'] }}
          <i class='bx bx-info-circle'></i>
          <div class="date-info">
              ({{ stats['longest_streak_start'] }} - 
              {{ stats['longest_streak_end'] }})
          </div>
        </div>
    </div>

    <div class="statsbox">
      <div class="label">Max in a day</div>
      <div class="flexrow">
        {{ stats['max_in_a_day'] }}
        <i class='bx bx-info-circle'></i>
        <div class="date-info">
            ({{ stats['max_in_a_day-date'] }})
        </div>
      </div>
    </div>

    <div class="statsbox">
      <div class="label">Days since last</div>
      {{ stats['days_since_last'] }}          
    </div>

    <div class="statsbox">
      <div class="label">Total today</div>
      {{ stats['total_today'] }}
    </div>
</div>
<div class="details-grid-bars">
    <h4>Weekday</h4>
    {% for day, count in stats["weekday"].items() %}
    {% set percent=(count/stats["total"]*100)|round|int 
        if stats["total"] > 0 else 0 %}
    <div>{{ day }}</div>
    <div class="bar-bg">
        <div class="bar" 
            style="width: {{ (count/stats['total']*100)|round|int 
            if stats['total'] > 0 else 0 }}%"></div>
        <span>{{ count }} ({{ percent }}%)</span>
    </div>
    {% endfor %}

    <h4>Time of day</h4>
    {% for time, count in stats["time_of_day"].items() %}
    {% set percent=(count/stats["total"]*100)|round|int 
        if stats["total"] > 0 else 0 %}
    <div>{{ time }}</div>
    <div class="bar-bg">
        <div class="bar" 
            style="width: {{ (count/stats['total']*100)|round|int 
            if stats['total'] > 0 else 0 }}%"></div>
        <span>{{ count }} ({{ percent }}%)</span>
    </div>
    {% endfor %}

    {% if stats["nr_of_entrytags"] | length %}
    <h4>Tags</h4>
    {% for tagname, count in stats["nr_of_entrytags"].items() %}
    {% set percent=(count/stats["total"]*100)|round|int 
        if stats["total"] > 0 else 0 %}
    <div>{{ tagname }}</div>
    <div class="bar-bg">
        <div class="bar" 
            style="width: {{ (count/stats['total']*100)|round|int 
            if stats['total'] > 0 else 0 }}%"></div>
        <span>{{ count }} ({{ percent }}%)</span>
    </div>
    {% endfor %}
    {% endif %}
</div>


<div id="map"></div>
<script type="module">
  function initMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: {lat: 57.367698, lng: 14.265648},
        mapTypeControl: false,
        streetViewControl: false,
        clickableIcons: false,
        mapId: "30ebffeb949e0a6c"
    });

    const markerIcon = 
            "{{ url_for('static', filename='img/markerIcon.png' )}}";

    {% for entry in entries %}
      {% if entry.latitude and entry.longitude %}
        addMarker({ lat: {{ entry.latitude }}, lng: {{ entry.longitude }} }, 
            {{ entry.entry_id }}, 
            "{{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}",
            "{{ entry.comment }}");
      {% endif %}
    {% endfor %}


    function addMarker(coords, entry_id, timestamp, comment){
      var marker = new google.maps.Marker({
        position: coords,
        map: map,
        icon: markerIcon
      });

      if (comment != "None") {
        var infowindow = new google.maps.InfoWindow({
          content: "<a href='/entries/" + entry_id + "'>Entry " + entry_id + 
            "</a>" + timestamp + "" + comment
        });
      }
      else {
        var infowindow = new google.maps.InfoWindow({
          content: "<a href='/entries/" + entry_id + "'>Entry " + entry_id + 
            "</a>" + timestamp
        });
      }

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  }

  window.initMap = initMap;
</script>



<h4>Entries</h4>
<div class="entries-list">
    {% for entry in entries[::-1] %}
        <div>
            <a href="{{ url_for('entries.entry', entry_id=entry.entry_id)}}">
                {{ entry["timestamp"].strftime('%Y-%m-%d %H:%M') }}
            </a>
        </div>
        <div>
            {% if entry["latitude"] and entry["longitude"] %}
            <i class='item-icon bx bx-map'></i>
            {% endif %}
        </div>
        <div>
            {% if entry["comment"] %}
            <i class='item-icon bx bx-comment grid-c3' 
                title="{{ entry['comment'] }}"></i>
            {% endif %}
        </div>
        <div class="tags">
        {% for entrytag in entry["entrytags"] 
            if not entrytag.tag.deleted and not entrytag.tag.archived %}
            <span class="tag-box">{{ entrytag.tag.name }}</span>
        {% endfor %}
        </div>
    {% endfor %}
    {% if not entries|length %}
        <span class="alternative-text">No entries for the period...</span>
    {% endif %}
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/details.js') }}"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}&loading=async&callback=initMap&v=weekly">
</script>

{% endblock %}
