{% extends "layout.html" %}

{% block body %}

<div class="heading-grid">
    <h3>{{ item.itemname }}</h3>
    <a href="{{ url_for('items.edit', item_id=item.item_id) }}" 
            class="heading-a">
        <i class='bx bx-edit-alt'></i>
    </a>
</div>

<div class="filter-header">
    <div class="filter-button" role="button">
        Filter
    </div>
    <span class="filter-quickdays">
        <select class="form small" 
                onchange="document.location.href=this.value">
            <option value="{{ url_for('items.details', item_id=item.item_id,
                days=30) }}" {{ 'selected' if days == 30 }}>30</option>
            <option value="{{ url_for('items.details', item_id=item.item_id,
                days=90) }}" {{ 'selected' if days == 90 }}>90</option>
            <option value="{{ url_for('items.details', item_id=item.item_id,
                days=180) }}" {{ 'selected' if days == 180 }}>180</option>
            <option value="{{ url_for('items.details', item_id=item.item_id,
                days=365) }}" {{ 'selected' if days == 365 }}>365</option>
            <option value="{{ url_for('items.details', item_id=item.item_id,
                days='all') }}" {{ 'selected' if days == 'all' }}>All</option>
        </select>
        <span>
            days
        </span>
    </span>
</div>

<form method="POST" class="filter-body"
        action="{{ url_for('items.details', item_id=item.item_id) }}">
    <div class="filter-grid">
        {{ form.hidden_tag() }}
        
        {{ form.scope_from.label }}
        {{ form.scope_to.label }}

        <div>
            {{ form.scope_from(class="form", value=form.scope_from.data) }}
            {% if form.scope_from.errors %}
            <div class="form-error-label">{{ form.scope_from.errors[0] }}</div>
            {% endif %}
        </div>
        <div>
            {{ form.scope_to(class="form", value=form.scope_to.data) }}
            {% if form.scope_to.errors %}
            <div class="form-error-label">{{ form.scope_to.errors[0] }}</div>
            {% endif %}
        </div>
    </div>
    {{ form.submit(class="btn") }}
</form>

<div class="lastdays-label">
    {% if form.validate_on_submit() %}
    Showing entries between {{ form.scope_from.data }} 
        and {{ form.scope_to.data }}
    {% elif days == "all" %}
    Showing all entries
    {% else %}
    Showing entries from the last {{ days }} days
    {% endif %}
</div>
  <div class="details-grid-stats">
    <div class="statsbox">
      <div class="label">First</div>
      {{ stats['first'].strftime('%Y-%m-%d %H:%M') 
        if not stats['first'] == 0 else 0 }}
    </div>

    <div class="statsbox">
      <div class="label">Last</div>
      {{ stats['last'].strftime('%Y-%m-%d %H:%M') 
        if not stats['first'] == 0 else 0 }}
    </div>

    <div class="statsbox">
      <div class="label">Total</div>
      {{ stats['total'] }}
    </div>

    <div class="statsbox">
      <div class="label">Avg/day</div>
      {{ stats['average_a_day'] }}
    </div>

    <div class="statsbox">
      <div class="label" title="Longest without">Longest without</div>
      <i class='bx bx-info-circle'></i>
      {{ stats['longest_without'] }}
      <div class="date-info">
          ({{ stats['longest_without_start'] }} - 
          {{ stats['longest_without_end'] }})
        </div>
    </div>

    <div class="statsbox">
      <div class="label" title="Longest streak">Longest streak</div>
      <div class="flexrow">
          {{ stats['longest_streak'] }}
          <i class='bx bx-info-circle'></i>
          <div class="date-info">
              ({{ stats['longest_streak_start'] }} - 
              {{ stats['longest_streak_end'] }})
          </div>
        </div>
    </div>

    <div class="statsbox">
      <div class="label">Max in a day</div>
      <div class="flexrow">
        {{ stats['max_in_a_day'] }}
        <i class='bx bx-info-circle'></i>
        <div class="date-info">
            ({{ stats['max_in_a_day-date'] }})
        </div>
      </div>
    </div>

    <div class="statsbox">
      <div class="label">Days since last</div>
      {{ stats['days_since_last'] }}          
    </div>

    <div class="statsbox">
      <div class="label">Total today</div>
      {{ stats['total_today'] }}
    </div>
</div>
<div class="details-grid-bars">
    <h3>Weekday</h3>
    {% for day, count in stats["weekday"].items() %}
    {% set percent=(count/stats["total"]*100)|round|int 
        if stats["total"] > 0 else 0 %}
    <div>{{ day }}</div>
    <div class="bar-bg">
        <div class="bar" 
            style="width: {{ (count/stats['total']*100)|round|int 
            if stats['total'] > 0 else 0 }}%"></div>
        <span>{{ count }} ({{ percent }}%)</span>
    </div>
    {% endfor %}

    <h3>Time of day</h3>
    {% for time, count in stats["time_of_day"].items() %}
    {% set percent=(count/stats["total"]*100)|round|int 
        if stats["total"] > 0 else 0 %}
    <div>{{ time }}</div>
    <div class="bar-bg">
        <div class="bar" 
            style="width: {{ (count/stats['total']*100)|round|int 
            if stats['total'] > 0 else 0 }}%"></div>
        <span>{{ count }} ({{ percent }}%)</span>
    </div>
    {% endfor %}

    {% if stats["nr_of_entrytags"]|length %}
    <h3>Tags</h3>    
    {% for tagname, count in stats["nr_of_entrytags"].items() %}
    {% set percent=(count/stats["total"]*100)|round|int 
        if stats["total"] > 0 else 0 %}
    <div>{{ tagname }}</div>
    <div class="bar-bg">
        <div class="bar" 
            style="width: {{ (count/stats['total']*100)|round|int 
            if stats['total'] > 0 else 0 }}%"></div>
        <span>{{ count }} ({{ percent }}%)</span>
    </div>
    {% endfor %}
    {% endif %}
</div>


<div id="map"></div>
<script type="module">
  function initMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: {lat: 57.367698, lng: 14.265648},
        mapTypeControl: false,
        streetViewControl: false,
        clickableIcons: false,
        styles: [
          {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
          {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
          {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
          {
            featureType: 'administrative.locality',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
          },
          {
            featureType: 'poi',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
          },
          {
            featureType: 'poi.park',
            elementType: 'geometry',
            stylers: [{color: '#263c3f'}]
          },
          {
            featureType: 'poi.park',
            elementType: 'labels.text.fill',
            stylers: [{color: '#6b9a76'}]
          },
          {
            featureType: 'road',
            elementType: 'geometry',
            stylers: [{color: '#38414e'}]
          },
          {
            featureType: 'road',
            elementType: 'geometry.stroke',
            stylers: [{color: '#212a37'}]
          },
          {
            featureType: 'road',
            elementType: 'labels.text.fill',
            stylers: [{color: '#9ca5b3'}]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry',
            stylers: [{color: '#746855'}]
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.stroke',
            stylers: [{color: '#1f2835'}]
          },
          {
            featureType: 'road.highway',
            elementType: 'labels.text.fill',
            stylers: [{color: '#f3d19c'}]
          },
          {
            featureType: 'transit',
            elementType: 'geometry',
            stylers: [{color: '#2f3948'}]
          },
          {
            featureType: 'transit.station',
            elementType: 'labels.text.fill',
            stylers: [{color: '#d59563'}]
          },
          {
            featureType: 'water',
            elementType: 'geometry',
            stylers: [{color: '#17263c'}]
          },
          {
            featureType: 'water',
            elementType: 'labels.text.fill',
            stylers: [{color: '#515c6d'}]
          },
          {
            featureType: 'water',
            elementType: 'labels.text.stroke',
            stylers: [{color: '#17263c'}]
          }
        ],
    });

    {% for entry in entries %}
      {% if entry.latitude and entry.longitude %}
        addMarker({ lat: {{ entry.latitude }}, lng: {{ entry.longitude }} }, 
            {{ entry.entry_id }}, 
            "{{ entry.timestamp.strftime('%Y-%m-%d %H:%M') }}",
            "{{ entry.comment }}");
      {% endif %}
    {% endfor %}


    function addMarker(coords, entry_id, timestamp, comment){
      var marker = new google.maps.Marker({
        position: coords,
        map: map
      });

      if (comment != "None") {
        var infowindow = new google.maps.InfoWindow({
          content: "<a href='/entry/" + entry_id + "'>Entry " + entry_id + 
            "</a>" + timestamp + "" + comment
        });
      }
      else {
        var infowindow = new google.maps.InfoWindow({
          content: "<a href='/entry/" + entry_id + "'>Entry " + entry_id + 
            "</a>" + timestamp
        });
      }

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  }

  window.initMap = initMap;
</script>



<h3>Entries</h3>
<div class="entries-list">
    {% for entry in entries[::-1] %}
        <div>
            <a href="{{ url_for('entries.entry', entry_id=entry.entry_id)}}">
                {{ entry["timestamp"].strftime('%Y-%m-%d %H:%M') }}
            </a>
        </div>
        <div>
            {% if entry["latitude"] and entry["longitude"] %}
            <i class='item-icon bx bx-map'></i>
            {% endif %}
        </div>
        <div>
            {% if entry["comment"] %}
            <i class='item-icon bx bx-comment grid-c3' 
                title="{{ entry['comment'] }}"></i>
            {% endif %}
        </div>
        <div class="tags">
        {% for entrytag in entry["entrytags"] 
            if not entrytag.tag.deleted and not entrytag.tag.archived %}
            <span class="tag-box">{{ entrytag.tag.name }}</span>
        {% endfor %}
        </div>
    {% endfor %}
    {% if not entries|length %}
        <span class="alternative-text">No entries for the period...</span>
    {% endif %}
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/details.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}&callback=initMap&v=weekly" defer></script>

{% endblock %}
