{% extends "layout.html" %}

{% block body %}

<div class="right">
  <a href="{{ url_for('item_edit', item_id=item.item_id) }}" class="link-small">Edit</a>
</div>
<h3>{{ item.itemname }}</h3>

<form method="POST" action="">
  {{ form.hidden_tag() }}
  Search between:<br>
  {{ form.scope_from(class="form form-small", style="margin-bottom: 4px", value=form.scope_from.data) }}<br>
  {% if form.scope_from.errors %}
    {% for error in form.scope_from.errors %}
      <div class="flash-error">{{ error }}</div>
    {% endfor %}
  {% endif %}
  {{ form.scope_to(class="form form-small", value=form.scope_to.data) }}
  {{ form.submit(class="btn btn-small") }}
  {% if form.scope_to.errors %}
    {% for error in form.scope_to.errors %}
      <div class="flash-error">{{ error }}</div>
    {% endfor %}
  {% endif %}
</form>

<br>
{% if form.validate_on_submit() %}
  Showing entries between {{ form.scope_from.data }} and {{ form.scope_to.data }}
{% elif days == "all" %}
  Showing all entries
{% else %}
  Showing entries from the last {{ days }} days
{% endif %}
<br>
<a href="{{ url_for('details', item_id=item.item_id, days=30) }}" class="link-small">Last 30 days</a>
<a href="{{ url_for('details', item_id=item.item_id, days=90) }}" class="link-small">Last 90 days</a>
<a href="{{ url_for('details', item_id=item.item_id, days=180) }}" class="link-small">Last 180 days</a>
<a href="{{ url_for('details', item_id=item.item_id, days='all') }}" class="link-small">All</a>
<br><br>

First: {{ stats['first'] }}<br>
Last: {{ stats['last'] }}<br>
Total: {{ stats['total'] }}<br>
Avg/day: {{ stats['average_a_day'] }}<br>
Max in a day: {{ stats['max_in_a_day'] }} ({{ stats['max_in_a_day-date'] }})<br>
Longest without (days): {{ stats['longest_without'] }} ({{ stats['longest_without_start'] }} - {{ stats['longest_without_end'] }})<br>
Longest with (days): {{ stats['longest_streak'] }} ({{ stats['longest_streak_start'] }} - {{ stats['longest_streak_end'] }})<br>
Days since last: {{ stats['days_since_last'] }}<br>
Total today: {{ stats['total_today'] }}<br>
<br>

<h3>Weekday</h3>
<table class="tbl-stats" cellspacing=0 cellpadding=0>
  {% for day, count in stats["weekday"].items() %}
  {% set percent=(count/stats["total"]*100)|round|int if stats["total"] > 0 else 0 %}
    <tr>
      <td>
        {{ day }}
      </td>
      <td>
        <div class="bar left">
          <img src="{{ url_for('static', filename='img/barbg.png') }}" height="20" width="{{ (count/stats["total"]*100)|round|int if stats["total"] > 0 else 0 }}%" class="left">
          <span {{ ' class=text-right' if percent > 85 }}>{{ count }} ({{ percent }} %)</span>
        </div>
      </td>
    </tr>
  {% endfor %}
</table>
<br>

<h3>Time of day</h3>
<table class="tbl-stats" cellspacing=0 cellpadding=0>
  {% for time, count in stats["time_of_day"].items() %}
  {% set percent=(count/stats["total"]*100)|round|int if stats["total"] > 0 else 0 %}
    <tr>
      <td>
        {{ time }}
      </td>
      <td>
        <div class="bar left">
          <img src="{{ url_for('static', filename='img/barbg.png') }}" height="20" width="{{ (count/stats["total"]*100)|round|int if stats["total"] > 0 else 0 }}%" class="left">
          <span {{ ' class=text-right' if percent > 85 }}>{{ count }} ({{ percent }} %)</span>
        </div>
      </td>
    </tr>
  {% endfor %}
</table>
<br>

<h3>Tags</h3>
<table class="tbl-stats" cellspacing=0 cellpadding=0>
  {% for tagname, count in stats["nr_of_entrytags"].items() %}
  {% set percent=(count/stats["total"]*100)|round|int if stats["total"] > 0 else 0 %}
    <tr>
      <td>
        {{ tagname }}
      </td>
      <td>
        <div class="bar left">
          <img src="{{ url_for('static', filename='img/barbg.png') }}" height="20" width="{{ (count/stats["total"]*100)|round|int if stats["total"] > 0 else 0 }}%" class="left">
          <span {{ ' class=text-right' if percent > 85 }}>{{ count }} ({{ percent }} %)</span>
        </div>
      </td>
    </tr>
  {% endfor %}
</table>
<br>

<div id="map"></div>
<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: {lat: 57.367698, lng: 14.265648},
        mapTypeControl: false,
        streetViewControl: false,
        clickableIcons: false
    });

    {% for entry in entries %}
      {% if entry.latitude and entry.longitude %}
        addMarker({ lat: {{ entry.latitude }}, lng: {{ entry.longitude }} }, {{ entry.entry_id }}, "{{ entry.timestamp }}", "{{ entry.comment }}");
      {% endif %}
    {% endfor %}


    function addMarker(coords, entry_id, timestamp, comment){
      var marker = new google.maps.Marker({
        position: coords,
        map: map
      });

      if (comment != "None") {
        var infowindow = new google.maps.InfoWindow({
          content: "<a href='/entry/" + entry_id + "'>Entry " + entry_id + "</a><br>" + timestamp + "<br>" + comment
        });
      }
      else {
        var infowindow = new google.maps.InfoWindow({
          content: "<a href='/entry/" + entry_id + "'>Entry " + entry_id + "</a><br>" + timestamp
        });
      }

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  }

</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv89Lm44klib2QbXjtUy38jFosKg5ET0g&callback=initMap">
</script>

<br><br>

<h3>Entries</h3>
<div id="latest-entries">
  <table cellspacing=0, cellpadding=0>
    {% for entry in entries[::-1] %}
      <tr>
        <td>
          <a href="{{ url_for('entry', entry_id=entry.entry_id)}}">{{ entry.timestamp }}</a>
        </td>
        <td>
          {% if entry.latitude and entry.longitude %}
            <img src="{{ url_for('static', filename='img/geo.png') }}" title="Has geo data" class="left">
          {% endif %}
        </td>
        <td>
          {% if entry.comment %}
            <img src="{{ url_for('static', filename='img/comment.png') }}" title="{{ entry.comment }}" class="left">
          {% endif %}
        </td>
        <td>
          {% for entrytag in entry.entrytags %}
            {% if not entrytag.tag.deleted %}
              <span class="tag-box tag-box-small">{{ entrytag.tag.name }}</span>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

{% endblock%}
