{% extends "layout.html" %}

{% block body %}

<div class="right">
  <a href="{{ url_for('entry_delete', entry_id=entry.entry_id) }}" class="link-small" onClick="return confirm('Are you sure you want to delete this entry?')">Delete</a>
</div>
<h3>Entry</h3>
<form method="POST" action="">
  {{ form.hidden_tag() }}

  <span class="entry-label">Item:</span><a href="{{ url_for('details', item_id=entry.item.item_id) }}">{{ entry.item.itemname }}</a><br>
  <span class="entry-label">ID:</span>{{ entry.entry_id }}<br>
  <span class="entry-label fixed-width">Timestamp:</span>{{ form.timestamp(class="form-small") }}<br>
  <span class="entry-label fixed-width">Latitude:</span>{{ form.latitude(class="form-small") }}<br>
  <span class="entry-label fixed-width">Longitude:</span>{{ form.longitude(class="form-small") }}<br>
  <span class="entry-label fixed-width">Comment:</span>{{ form.comment(class="form-small") }}<br>
  <br>
  Tags:<br>
  {% for entrytag in entry.entrytags %}
    {{ entrytag.tag.name }}<br>
  {% endfor %}
  {{ form.submit }}

</form>
<div id="map"></div>
<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        {% if entry.latitude and entry.longitude %}
          zoom: 15,
          center: {lat: {{ entry.latitude }}, lng: {{ entry.longitude }}},
        {% else %}
          zoom: 1,
          center: {lat: 0, lng: 0},
        {% endif %}
        mapTypeControl: false,
        streetViewControl: false
    });

    var marker = new google.maps.Marker({
      position:{lat: {{ entry.latitude }}, lng: {{ entry.longitude }}},
      map:map
    });

  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv89Lm44klib2QbXjtUy38jFosKg5ET0g&callback=initMap">
</script>
{% endblock %}
