{% extends "layout.html" %}

{% block body %}

<div class="heading-grid">
    <a href="{{ url_for('items.details', item_id=entry.item.item_id) }}" 
            class="heading-icon">
        <i class='bx bx-arrow-back'></i>
    </a>
    <h3>Entry</h3>
    <button id="heading-menu-btn" class="btn-invis heading-icon" 
            onclick="toggleHeadingMenu()">
        <i class='bx bx-dots-horizontal'></i>
    </button>
    <div id="heading-menu" class="invisible">
        <a class="delete"
                onClick="return confirm('Are you sure you want to delete this entry?')"
                href="{{ url_for('entries.delete', 
                    entry_id=entry.entry_id) }}">
            Delete entry</a>
    </div>
</div>

<form method="POST" action="">
    <div class="entry-form-grid">
        {{ form.hidden_tag() }}

        {{ form.date.label }}
        {{ form.time.label }}

        {{ form.date(class="form error" if form.date.errors else "form") }}
        {{ form.time(class="form error" if form.time.errors else "form") }}

        {{ form.latitude.label }}
        {{ form.longitude.label }}

        {{ form.latitude(class="form") }}
        {{ form.longitude(class="form") }}

        Set location:
        {{ form.comment.label }}

        <select id="locations" name="locations" class="form">
            <option value="0" selected>Set location</option>
            {% for location in locations %}
            <option value="{{ location.latitude }},{{ location.longitude }}">
                {{ location.name }}
            </option>
            {% endfor %}
        </select>
        {{ form.comment(class="form") }}
        <button type="button" id="hide-location">Clear</button>
    </div>

    {% if entry.item.active_tags|length %}
    <div class="heading-grid">
        <h3>Tags</h3>
        <button type="button" class="btn" id="edit-tags">
            <i class='bx bx-label'></i>
        </button>
    </div>
    {% for tag in entry.item.tags if not tag.deleted and not tag.archived %}
        {% set ns=namespace(has_entrytag=False) %}
        {% for entrytag in entry.entrytags if entrytag.tag_id == tag.tag_id %}
            {% set ns.has_entrytag = True %}
        {% endfor %}
        {% if not tag.hidden or ns.has_entrytag %}
            <input type="checkbox" name="tag-{{ tag.tag_id }}" 
                class="tag-box-checkbox" id="tag-{{ tag.tag_id }}" 
                {{ 'checked' if ns.has_entrytag }}>
            <label for="tag-{{ tag.tag_id }}"
                    class="tag-box-label disabled hidden">
                {{ tag.name }}
            </label>
        {% endif %}
    {% endfor %}
    {% endif %}

    <div id="map"></div>
    <script type="module">
    function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
            {% if entry.latitude and entry.longitude %}
                zoom: 15,
                center: {lat: {{ entry.latitude }}, 
                         lng: {{ entry.longitude }}},
            {% else %}
                zoom: 1,
                center: {lat: 0, lng: 0},
            {% endif %}
            mapTypeControl: false,
            streetViewControl: false,
            clickableIcons: false,
            mapId: "30ebffeb949e0a6c"
        });

        const markerIcon = 
            "{{ url_for('static', filename='img/markerIcon.png' )}}";

        let marker;
        {% if entry.latitude and entry.longitude %}
            marker = new google.maps.Marker({
                position:{lat: {{ entry.latitude }}, 
                          lng: {{ entry.longitude }}},
                map:map,
                icon: markerIcon
            });
        {% endif %}

        map.addListener('click', function(e) {
            placeMarker(e.latLng.lat(), e.latLng.lng());
        });


        const locationSelect = document.getElementById("locations");
        locationSelect.addEventListener('change', function() {
            if (this.value != 0) {
                let lat;
                let long;
                [lat, long] = this.value.split(",");
                
                placeMarker(Number(lat), Number(long));
                locationSelect.value=0;
            }
        });

    
        function placeMarker(lat, long) {
            if (marker) {
                marker.setMap(null);
            }

            document.getElementById("latitude").value = lat;
            document.getElementById("longitude").value = long;

            marker = new google.maps.Marker({
                position: {lat: lat, lng: long},
                map: map,
                icon: markerIcon
            });
            map.panTo(marker.position);
        }
    }

    window.initMap = initMap;
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}&callback=initMap&v=weekly" defer></script>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/entry.js')}}"></script>

    {{ form.submit(class="btn") }}

</form>
{% endblock %}
