{% extends "layout.html" %}

{% block body %}

<div>
  <a href="{{ url_for('details', item_id=item.item_id) }}" class="link-small"><- Back to {{ item.itemname }}</a>
</div>
<br>
<div class="right">
  <a href="{{ url_for('item_delete', item_id=item.item_id) }}" class="link-small" onClick="return confirm('Are you sure you want to delete this item?')">Delete</a>
</div>
<h3>Edit Item</h3>
<form method="POST" action="">
  {{ form.hidden_tag() }}
  Name: {{ form.itemname(class="form form-small") }}<br>
  {% if form.itemname.errors %}
    {% for error in form.itemname.errors %}
      <div class="flash-error abs">{{ error }}</div>
    {% endfor %}
  {% endif %}
  {{ form.submit(class="btn btn-large") }}
</form>
<br>
{% if item.tags %}
<span class="label-archive">Archive</span>
<h3>Tags</h3>
{% for tag in item.tags %}
  {% if not tag.deleted %}
  <form method="POST" action="{{ url_for('item_edittag', tag_id=tag.tag_id) }}" class="edit-tag-form">
    {{ edit_tag_form.hidden_tag() }}
    {{ edit_tag_form.tagname(value=tag.name, class="form form-small") }}
    {{ edit_tag_form.archived(checked=tag.archived) }}
    {{ edit_tag_form.submit(class="btn btn-small") }}
    <a href="{{ url_for('tag_delete', tag_id=tag.tag_id) }}" onClick="return confirm('Are you sure you want to delete this tag?')"><span class="small-text">Delete</span></a>
  </form>
    <!-- <div class="tag-box tag-box-large">{{ tag.name }} <a href="{{ url_for('tag_delete', tag_id=tag.tag_id) }}" class="tag-box-delete" onClick="return confirm('Are you sure you want to delete this tag?')">&times;</a></div> -->
  {% endif %}
{% endfor %}
<br><br>
{% endif %}

<form method="POST" action="{{ url_for('item_addtag', item_id=item.item_id) }}">
{{ add_tag_form.hidden_tag() }}
Add tag: {{ add_tag_form.tagname(class="form form-small") }}
{{ add_tag_form.submit(class="btn btn-small") }}
{% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
    {% for message in messages %}
      <div class="flash-error">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</form>
<br>
<h3>Misc</h3>
<a href="{{ url_for('item_download', item_id=item.item_id) }}">Download csv</a>


{% endblock %}
