{% extends "layout.html" %}

{% block body %}

<div class="heading-grid mb-1">
    <a href="{{ url_for('items.details', item_id=item.item_id) }}" 
            class="heading-icon">
        <i class='bx bx-arrow-back'></i>
    </a>
    <h3>{{ item.itemname }}</h3>
</div>


<h4 class="mb-0">Add tag</h4>
{{ add_tag_form.tagname.label }}
<form method="POST" class="flex mb-1"
        action="{{ url_for('tags.add', item_id=item.item_id) }}">
    {{ add_tag_form.hidden_tag() }}
    {{ add_tag_form.tagname(class="form") }}
    {{ add_tag_form.submit(class="btn") }}
</form>
{% if add_tag_form.tagname.errors %}
    {% for error in add_tag_form.tagname.errors %}
    <div class="form-error-label">{{ error }}</div>
    {% endfor %}
{% endif %}


{% if edit_tags_form.tags %}
<h4>Edit tags</h4>
<form method="POST" action="">
    {{ edit_tags_form.hidden_tag() }}

    {% for form_tag in edit_tags_form.tags %}
    <div class="flex">
        {{ form_tag.hidden_tag() }}
        {{ form_tag.tag_id() }}

        {{ form_tag.tagname(class="form") }}
        
        {{ form_tag.hidden(title="hidden") }}
        {{ form_tag.hidden.label(class="edit_item-checkbox-container") }}

        {{ form_tag.archived(title="archived") }}
        {{ form_tag.archived.label(class="edit_item-checkbox-container") }}
        

        <a onClick="return confirm('Are you sure you want to delete this tag?')"
                href="{{ url_for('tags.delete', tag_id=form_tag.tag_id.data) }}"
                class="btn delete">
            <i class='bx bx-trash'></i>
        </a>
    </div>
    {% endfor %}

    {{ edit_tags_form.submit(class="btn") }}

</form>

{% endif %}

{% endblock %}
