{% extends "layout.html" %}

{% block body %}

<div class="right">
  <a href="{{ url_for('item_delete', item_id=item.item_id) }}" class="link-small" onClick="return confirm('Are you sure you want to delete this item?')">Delete</a>
</div>
<h3>Edit Item</h3>
<form method="POST" action="">
  {{ form.hidden_tag() }}
  Name: {{ form.itemname(class="form-small") }}<br>
  {% if form.itemname.errors %}
    {% for error in form.itemname.errors %}
      <div class="form-flash">{{ error }}</div>
    {% endfor %}
  {% endif %}
  {{ form.submit(class="form large-button") }}
</form>
<br>
{% if item.tags %}
  <h3>Tags</h3>
  {% for tag in item.tags %}
    {% if not tag.deleted %}
      <div class="tag-box-large">{{ tag.name }} <a href="{{ url_for('tag_delete', tag_id=tag.tag_id) }}" class="delete" onClick="return confirm('Are you sure you want to delete this tag?')">&times;</a></div>
    {% endif %}
  {% endfor %}
  <br><br>
{% endif %}

<form method="POST" action="{{ url_for('item_addtag', item_id=item.item_id) }}">
Add tag: {{ tag_form.tagname(class="form-small") }}
{{ tag_form.submit(class="btn-small") }}
</form>


{% endblock %}
