<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>DataDrone</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	</head>
	<body>
		<div id="banner">
			<div class="wrapper">
				<div id="menu" class="right">
					{% if current_user.is_authenticated %}
					<div class="dropdown">
						<button>{{ current_user.username }}</button>
						<div class="dropdown-content">
							<a href="{{ url_for('account') }}">Account</a>
							<a href="{{ url_for('logout') }}">Logout</a>
						</div>
					</div>
					{% else %}
						<a href="{{ url_for('login') }}">Login</a>
						<a href="{{ url_for('register') }}">Register</a>
					{% endif %}
				</div>
				<h3><a href="{{ url_for('index') }}">DataDrone</a></h3>
			</div>
		</div>
		<div class="wrapper">
			<div class="main-container">
				{% with messages = get_flashed_messages(category_filter=["info"]) %}
	        {% if messages %}
	           {% for message in messages %}
	            <div class="flash-info">
	              {{ message }}
	            </div>
	           {% endfor %}
	        {% endif %}
	      {% endwith %}
				{% with messages = get_flashed_messages(category_filter=["warning"]) %}
	        {% if messages %}
	           {% for message in messages %}
	            <div class="flash-warning">
	              {{ message }}
	            </div>
	           {% endfor %}
	        {% endif %}
	      {% endwith %}
				{% block body %}{% endblock %}
		</div>
		</div>
	</body>
</html>
