<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' 
        rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static',
        filename='style.css') }}">
    <link rel="icon" sizes="32x32" 
        href="{{ url_for('static', filename='img/favicon-32.png') }}">
    <link rel="shortcut icon" sizes="192x192" 
        href="{{ url_for('static', filename='img/favicon-192.png') }}">
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <title>DataDrone</title>
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <a href="{{ url_for('main.index') }}" class="logo">DataDrone</a>
            <i class='bx bx-menu user-icon' id="user-icon" 
                onClick="toggleUserMenu()"></i>
        </div>
    </header>
    <div class="wrapper">
        <div class="user-menu" id="user-menu">
            {% if current_user.is_authenticated %}
            <span>Logged in as {{ current_user.email }}</span>
            <a href="{{ url_for('main.index') }}">
                Home
                <i class='bx bx-home'></i>
            </a>
            <a href="{{ url_for('main.account') }}">
                Account
                <i class='bx bx-cog'></i>
            </a>
			<a href="{{ url_for('locations.locations') }}">
                Locations
                <i class='bx bx-map'></i>
            </a>
			<a href="{{ url_for('auth.logout') }}">
                Log out
                <i class='bx bx-log-out'></i>
            </a>
            {% else %}
            <a href="{{ url_for('auth.login') }}">
                Login
                <i class='bx bx-log-in'></i>
            </a>
			<a href="{{ url_for('auth.register') }}">
                Register
                <i class='bx bx-book'></i>
            </a>
            {% endif %}
        </div>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        <span>
                            {{ message | safe }}
                        </span>
                        <span class="flash-close" onClick="dismiss(this)">
                            &times;
                        </span>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
    </div>

    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>

</html>