{% extends "layout.html" %}

{% block body %}

{% if items.all()|length %}
  {% for item in items %}

  <form method="POST" action="{{ url_for('item_addentry', item_id=item.item_id) }}" id="add_entry_form-{{ item.item_id }}">
    {{ entry_form.csrf_token() }}
    {{ entry_form.latitude(id="latitude-" ~ item.item_id) }}
    {{ entry_form.longitude(id="longitude-" ~ item.item_id) }}
    {{ entry_form.timestamp(id="timestamp-" ~ item.item_id) }}
    <div class="item-container">
      <input type="button" class="btn btn-plus" value="+1" onClick="sendForm({{item.item_id}})">
      <div class="item-geo-container">
        {{ entry_form.geo(id="geo_switch-" ~ item.item_id, checked=item.geo_default) }}
        <label for="geo_switch-{{ item.item_id }}" title="Geo">
          Toggle
        </label>
      </div>
      <span class="jq-tag-icon right" id="tagswitch-{{ item.item_id }}" target="{{ item.item_id }}" title="Tags">
        {% if item.tags %}
          {% set ns=namespace(active_tags=False, default_tags=False) %}
          {% for tag in item.tags %}
            {% if tag.is_default %}
              {% set ns.default_tags = True %}
            {% endif %}
            {% if not tag.deleted %}
              {% set ns.active_tags = True %}
            {% endif %}
          {% endfor %}

          {% if ns.default_tags %}
            <img src="{{ url_for('static', filename='img/tag_active.png') }}" id="tagswitch-img-{{ item.item_id }}">
          {% elif ns.active_tags %}
            <img src="{{ url_for('static', filename='img/tag_inactive.png') }}" id="tagswitch-img-{{ item.item_id }}">
          {% endif %}
        {% endif %}
      </span>
      <a href="{{ url_for('details', item_id=item.item_id) }}"><div class="item-title">{{ item.itemname }}</div></a>
      <div class="item-spotlight">Last entry {{ spotlight_stat[item.item_id] }}</div>
    </div>

    <div class="modal-item-tags-outer-container" id="modal-item-tags-{{ item.item_id }}">
      <div class="modal-item-tags-inner-container">
        <h3>Tags</h3>
        {% for tag in item.tags if not tag.deleted %}
        <input type="checkbox" name="tag-{{ tag.tag_id }}" class="tag-box-checkbox" id="tag-{{ tag.tag_id }}" target="{{ item.item_id }}" {{ "checked" if tag.is_default }}>
        <label for="tag-{{ tag.tag_id }}" class="tag-box-label">
          {{ tag.name }}
        </label>
        {% endfor %}
      </div>
        <input type="button" class="btn btn-large jq-tag-button" Value="Save">
    </div>
  </form>
  {% endfor %}
{% else %}
  <div class="text-comment" style="margin-bottom:15px">Nothing to keep track of yet...</div>
{% endif %}

<input type="button" class="btn btn-large" value="Add new item" id="add-item-btn">

<div id="tags-modal-fade" class="modal-fade"></div>
<div id="add-item-modal-fade" class="modal-fade"></div>
<div id="add-item-modal-newitem">
  What do you want to keep track of?
  <form action="{{ url_for('item_add') }}" method="post">
  {{ item_form.hidden_tag() }}
    <input type="submit" class="btn btn-plus" Value="Add">
    {{ item_form.itemname(class="form form-large", id="add-item-input") }}
  </form>
</div>

<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/list.js')}}"></script>

{% endblock %}
