{% extends "layout.html" %}

{% block body %}

{% if items.all()|length %}
{% for item in items %}
<form method="POST" action="{{ url_for('entries.add', item_id=item.item_id) }}"
        id="add_entry_form-{{ item.item_id }}">
    {{ entry_form.csrf_token() }}
    {{ entry_form.latitude(id="latitude-" ~ item.item_id) }}
    {{ entry_form.longitude(id="longitude-" ~ item.item_id) }}
    {{ entry_form.timestamp(id="timestamp-" ~ item.item_id) }}
    <div class="item-container">
        <a class="item-labels" 
                href="{{ url_for('items.details', item_id=item.item_id) }}">
            <div>{{ item.itemname }}</div>
            <div class="spotlight-label"
                    title="Last entry {{ spotlight_stat[item.item_id] }}">
                Last entry {{ spotlight_stat[item.item_id] }}
            </div>
        </a>
        
        {% if item.active_tags %}
        <button type="button" class="item-icon-container jq-tag-icon" 
                target="{{ item.item_id }}" title="Tags">
            {% set ns=namespace(checked_tags=False, default_tags=False) %}
            {% for tag in item.tags %}
                {% if tag.is_default %}
                    {% set ns.default_tags = True %}
                {% endif %}
                {% if not tag.deleted %}
                    {% set ns.checked = True %}
                {% endif %}
            {% endfor %}

            <i class='item-icon bx bx-label {{ "active" if ns.default_tags 
                else "" if ns.active_tags else "" }}'
                id="tagswitch-img-{{ item.item_id }}"></i>
        </button>
        <div class="modal-item-tags-container" 
            id="modal-item-tags-{{ item.item_id }}">
        <h3>Tags</h3>
        {% for tag in item.active_tags %}
        <input type="checkbox" name="tag-{{ tag.tag_id }}" 
            id="tag-{{ tag.tag_id }}" class="tag-checkbox"
            target="{{ item.item_id }}" {{ "checked" if tag.is_default }}>
        <label for="tag-{{ tag.tag_id }}" class="tag-box-label">
            {{ tag.name }}
        </label>
        {% endfor %}
        <input type="button" class="btn color jq-tag-button mt-1" 
            Value="Save">
    </div>
        {% endif %}
        <label class="item-icon-container" for="geo_switch-{{ item.item_id }}"
                title="Geo">
            {{ entry_form.geo(id="geo_switch-" ~ item.item_id, 
                checked=item.geo_default) }}
            <i class='item-icon bx bx-map'></i>
        </label>
        <button type="button" class="btn color" id="add-{{ item.item_id }}"
                title="Add entry"  onClick="sendForm({{ item.item_id }})">
            <i class='item-icon bx bx-plus'></i>
        </button>
    </div>

    
</form>
{% endfor %}
{% else %}
<div class="alternative-text mb-1">Nothing to keep track of yet...</div>
{% endif %}

<input type="button" class="btn" value="Add new item" id="add-item-btn">

<div id="tags-modal-fade" class="modal-fade"></div>
<div id="add-item-modal-fade" class="modal-fade"></div>
<div id="add-item-modal-newitem">
  What do you want to keep track of?
  <form action="{{ url_for('items.add') }}" method="post" class="flex nogap">
  {{ item_form.hidden_tag() }}
  {{ item_form.itemname(class="form", id="add-item-input") }}
  <input type="submit" class="btn color" Value="Add">
  </form>
</div>

<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='js/list.js') }}"></script>

{% endblock %}
