{% extends "layout.html" %}

{% block body %}

{% for item in items %}

<form method="POST" action="{{ url_for('item_addentry', item_id=item.item_id) }}" id="add_entry_form-{{ item.item_id }}">
  {{ entry_form.csrf_token() }}
  {{ entry_form.latitude(id="latitude-" ~ item.item_id) }}
  {{ entry_form.longitude(id="longitude-" ~ item.item_id) }}
  <div class="list-item">
    <input type="button" class="btn-plus" value="+1" onClick="sendForm({{item.item_id}})">
    <span class="list-geo-box">
      {{ entry_form.geo(id="geo_switch-" ~ item.item_id, checked=item.geo_default) }}
      <label for="geo_switch-{{ item.item_id }}">
        Toggle
      </label>
    </span>
    <span class="tag" id="tag-{{ item.item_id }}" target="{{ item.item_id }}">
      {% if item.tags %}
        {% set ns=namespace(active_tags=False) %}
        {% for tag in item.tags if tag.is_default %}
          {% set ns.active_tags = True %}
        {% endfor %}

        {% if ns.active_tags == True %}
          <img src="{{ url_for('static', filename='img/tag_active.png') }}" id="tag-img-{{ item.item_id }}">
        {% else %}
          <img src="{{ url_for('static', filename='img/tag_inactive.png') }}" id="tag-img-{{ item.item_id }}">
        {% endif %}
      {% endif %}
    </span>
    <a href="{{ url_for('details', item_id=item.item_id) }}"><div class="item-title">{{ item.itemname }}</div></a>
    <div class="item-spotlight">Days since last: {{ spotlight_stat[item.item_id] }}</div>
  </div>

  <div class="modal-item-tags" id="modal-item-tags-{{ item.item_id }}">
    <div class="modal-item-tags-container">
      <p>Tags</p>
      {% for tag in item.tags if not tag.deleted %}
          <span class="tag-checkbox-label">
            <label>
              <input type="checkbox" name="tag-{{ tag.tag_id }}" class="tag-checkbox" target="{{ item.item_id }}" {{ 'checked' if tag.is_default }}>
              {{ tag.name }}
            </label>
          </span>
      {% endfor %}
    </div>
      <input type="button" class="form large-button tag-button" Value="Save">
  </div>
</form>
{% endfor %}

<input type="button" class="form large-button" value="Add new item" id="add-item-btn">

<div id="tags-modal-fade" class="modal-fade"></div>
<div id="add-item-modal-fade" class="modal-fade"></div>
<div id="add-item-modal-newitem">
  What do you want to keep track of?
  <form action="{{ url_for('item_add') }}" method="post">
  {{ item_form.hidden_tag() }}
    <input type="submit" class="btn-plus" Value="Add">
    {{ item_form.itemname(class="form", id="add-item-input") }}
  </form>
</div>

<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/list.js')}}"></script>

{% endblock %}
