{% extends "layout.html" %}

{% block body %}
<h3>Add location</h3>
<form method="POST" action="{{ url_for('locations.add') }}">
    {{ add_form.hidden_tag() }}

    {{ add_form.name.label }}
    {{ add_form.name(class="form", placeholder="Home") }}

    <div class="locations-grid">
        {{ add_form.latitude.label }}
        {{ add_form.longitude.label }}

        {{ add_form.latitude(class="form", placeholder="0.0") }}
        {{ add_form.longitude(class="form", placeholder="0.0") }}
        
        {{ add_form.submit(class="btn") }}
    </div>

</form>
<div id="map"></div>
<script type="module">
  function initMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 1,
          center: {lat: 0, lng: 0},
          mapTypeControl: false,
          streetViewControl: false,
          clickableIcons: false,
          mapId: "30ebffeb949e0a6c"
    });

    const markerIcon = 
            "{{ url_for('static', filename='img/markerIcon.png' )}}";

    let marker;

    map.addListener('click', function(e) {
      placeMarker(e.latLng.lat(), e.latLng.lng());
    });

    function placeMarker(lat, long) {
      if (marker) {
        marker.setMap(null);
      }

      document.getElementById("latitude").value = lat;
      document.getElementById("longitude").value = long;

      marker = new google.maps.Marker({
        position: {lat: lat, lng: long},
        map: map,
        icon: markerIcon
      });
      map.panTo(marker.position);
    }
  }

  window.initMap = initMap;
</script>

<h3>Edit locations</h3>
{% for location in locations if not location.deleted %}
<form method="POST" class="edit-tag-form" action="{{ url_for('locations.edit', 
        location_id=location.location_id) }}">
    {{ edit_form.hidden_tag() }}
    {{ edit_form.name.label }}
    
    <div class="locations-flexrow">
        {{ edit_form.name(value=location.name, class="form") }}
        <a class="btn delete" href="{{ url_for('locations.delete', 
                location_id=location.location_id) }}" 
                onClick="return confirm('Are you sure you want to delete this location?')">
            <i class='bx bx-trash'></i>
        </a>
    </div>
    <div class="locations-grid">
        {{ edit_form.latitude.label }}
        {{ edit_form.longitude.label }}
        {{ edit_form.latitude(value=location.latitude, class="form") }}
        {{ edit_form.longitude(value=location.longitude, class="form") }}
        {{ edit_form.submit(class="btn") }}
    </div>

</form>
{% endfor %}

<script async
    src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}&loading=async&callback=initMap&v=weekly">
</script>

{% endblock %}
