{% extends "layout.html" %}

{% block body %}
<h3>Login</h3>
<form method="POST" action="">

  {{ form.hidden_tag() }}
    {{ form.username(class="form form-large", placeholder="Username") }}
    {% if form.username.errors %}
      {% for error in form.username.errors %}
        <div class="flash-error abs">{{ error }}</div>
      {% endfor %}
    {% endif %}

    {{ form.password(class="form form-large", placeholder="Password") }}
    <div class="flash-error right">
      {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
           {% for message in messages %}
            <div>
              {{ message }}
            </div>
           {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    {% if form.password.errors %}
      {% for error in form.password.errors %}
        <div class="flash-error abs">{{ error }}</div>
      {% endfor %}
    {% endif %}

    {{ form.remember(class="form-checkbox") }}
    {{ form.remember.label(class="form-checkbox") }}

    {{ form.submit(class="btn btn-large") }}
</form>

{% endblock%}
