/* * {
	border: 1px dotted blue;
} */

/* global */
@font-face {
    font-family: CenturyGothic;
    src: url(GOTHIC.TTF);
}
body {
	padding: 0;
	margin: 0;
	font-family: "CenturyGothic";
}
.wrapper {
  padding: 0 10px;
	margin: 0 auto;
	max-width: 500px;
  position: relative;
}
.main-container {
  margin: 0;
  padding: 50px 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px 0;
}
#banner {
	height: 50px;
	background-image: linear-gradient(#c2ff6b, #8dba4d);
	line-height: 50px;
}
.right {
  float:right;
}
.left {
  float: left;
}
.abs {
  position: absolute;
}
.inline {
  display: inline-block;
  margin-right: 10px;
}
#map {
  width: 100%;
  height: 400px;
}
.text-comment {
  font-style: italic;
  color: #666;
}

/* links */
a {
  text-decoration: none;
  color: #000;
}
a:hover, .link-small:hover {
  color: #555;
}
.link-small {
  font-size: 0.7em;
  text-decoration: underline;
  cursor: pointer;
}
#menu a {
  padding: 10px;
}

/* buttons */
.btn {
  background-color: #b2ea62;
  border: 0;
  box-sizing: border-box;
}
.btn:hover {
  color: #fff;
  background-color: #8ebc4d;
  cursor: pointer;
}
.btn-small {
  height: 30px;
  padding: 0 6px;
}
.btn-large {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  height: 50px
}
.btn-plus {
  float: right;
  width: 50px;
  height: 50px;
}

/* forms */
.form {
  box-sizing: border-box;
  border: 0;
  background-color: #eee;
}
.form-small {
  width: 150px;
  height: 30px;
  padding: 0 6px;
}
.form-large {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  height: 50px;
}
.form-checkbox {
  position: relative;
  top: 10px;
  margin: 0px 0 0 5px;
  font-size: 0.8em;
}

/* tags */
.jq-tag-icon:hover {
  cursor: pointer;
}
.tag-box {
  background-color: #8ebc4d;
  font-family: Courier New;
}
.tag-box-small {
  position: relative;
  top: -4px;
  padding: 4px;
  border-radius: 4px;
  font-size: 0.6em;
}
.tag-box-large {
  display: inline-block;
  margin: 2px 0;
  padding: 10px;
  border-radius: 10px;
}
.tag-box-checkbox {
  position: absolute;
  left: -9999px;
}
.tag-box-label {
  display: inline-block;
  margin: 2px 0;
  padding: 10px;
  background-color: #ddd;
  border-radius: 10px;
  font-family: Courier New;
  cursor: pointer;
}
.tag-box-checkbox:checked + .tag-box-label {
  display: inline-block;
  background-color: #8ebc4d;
}
.tag-box-label-enable {
  pointer-events: all;
}
.tag-box-label-disable {
  pointer-events:none;
}
.tag-box-delete {
  display: inline-block;
  position: relative;
  padding: 1px;
  top: 1px;
  background-color: #ddd;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  text-align: center;
}
.tag-box-delete:hover {
  background-color: #f44;
  color: #000;
}

/* flashes */
.flash-error {
  color: red;
  font-size: 0.8em;
}
.flash-warning {
  position: relative;
  top: -20px;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffb619;
  color: #48340a;
}
.flash-info {
  position: relative;
  top: -20px;
  border-radius: 5px;
  padding: 10px;
  background-color: #cff4f5;
  color: #448c8f;
}

/* modals */
/* Add item modal */
.modal-fade {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}
#add-item-modal-newitem {
  display: none;
  position: fixed;
  width: calc(100% - 20px);
  max-width: 500px;
  top: 20%;
  left: 10px;
  z-index: 2;
}
#add-item-modal-newitem form {
  box-shadow: 0px 3px 8px #aaa;
}
#add-item-modal-newitem input {
  margin: 0;
}
#add-item-input {
  width: calc(100% - 50px);
}

.modal-item-tags-outer-container {
  display: none;
  position: fixed;
  background-color: #eee;
  width: calc(100% - 20px);
  max-width: 500px;
  top: 20%;
  left: 10px;
  z-index: 2;
  box-shadow: 0px 3px 8px #aaa;
}
.modal-item-tags-inner-container {
  padding: 10px;
}

/* page specific - list **/
.item-container {
  background-color: #eee;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 5px;
}
.item-title {
  height: 32px;
  line-height: 32px;
  font-size: 1.4em;
}
.item-spotlight {
  height: 18px;
  line-height: 18px;
  font-size: 0.8em;
}
/* Geo checkbox */
.item-geo-container {
  margin-right: 12px;
  float: right;
  width: 50px;
}
.geo-text {
  position: relative;
  top: -3px;
  left: 15px;
  font-size: 0.7em;
  color: #888;
  font-family: Courier New;
}
.item-container input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
.item-container label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: inline-block;
	border-radius: 20px;
	position: relative;
  top: -4px;
  left: 6px;
}
.item-container label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 18px;
	transition: 0.3s;
}
.item-container input:checked + label {
	background: #8ebc4d;
}
.item-container input:checked + label:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}
.item-container label:active:after {
	width: 24px;
}

/* page specific - details **/
.tbl-stats {
  width: 100%;
  table-layout: fixed;
}
.tbl-stats tr td {
  padding-right: 10px;
  white-space: nowrap;
}
.tbl-stats tr td:first-child {
  width: 100px;
}
.tbl-stats tr td:last-child {
  width: 100%;
  padding: 0;
}
.bar {
  width: 100%;
  line-height: 20px;
}
.bar span {
  margin-left: 5px;
  font-size: 0.7em;
  position: absolute;
}
.bar .text-right {
  right: 10px;
}

/* page specific - entry **/
.entry-edit-table td:first-child {
  padding-right: 20px;
}
#latest-entries {
  height: 400px;
  overflow: auto;
  border: 1px solid #bbb;
  background-color: #eee;
  padding: 5px 0;
  box-shadow: 0px 3px 8px #aaa;
}
#latest-entries table {
  width: auto;
}
#latest-entries table tr:nth-child(2n) {
  background-color: #e4e4e4;
}
#latest-entries table tr:hover {
  background-color: #ddd;
}
#latest-entries table tr td {
  padding: 0 10px;
  white-space: nowrap;
}
#latest-entries table tr td:last-child {
  width: 100%;
}

/* global - prio */
.hidden {
  display: none;
}

/* large screens */
@media only screen and (min-width: 540px) {
  #add-item-modal-newitem {
    left: calc(50% - 250px);
  }
  .modal-item-tags-outer-container {
    left: calc(50% - 250px);
  }
}
